@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

body{
    margin: 0;
    background: #F5F5F5;
}

.snackbar {
    color: #ffffff;
    background: #673ab7;
  }

.hidden{
    display: none !important;
}

.visible{
    display: block;
    visibility: visible;
}